@import 'variables';
body{
	--dark-theme-button-color: black;

	&.dark_theme{
		--dark-theme-button-color: white;

	}
}
$dtbc: var(--dark-theme-button-color);
#dark-button {
	#svg_container{
		transform: translate(200px, 100px);
	}
	.icon{
		fill: $dtbc;
		transition: fill $circle_out_ease;

	}
	#frame{
		fill: $dtbc;
		transition: fill $circle_out_ease;
	}
	#frame_template{
		d: path("M 0 -90 h 0 a 90 90 0 0 0 0 180 H 0 h 0 a 90 90 0 0 0 0 -180 Z");
		stroke-width: 10;
		stroke: $dtbc;
		transition: none $circle_out_ease;
		transition-property: stroke, d;

	}
	.inner{
		transform: translateX(-100px);
		transition: transform $circle_out_ease;
		.dark_theme &{
			transform: translateX(100px)
		}
		&#hole_template{
			transform: translateX(0);
		}
	}
	#hole{
		transform: translate
	}
	&:hover{
		.inner{
			transform: translateX(0);
			&#hole_template{
				transform: translateX(-100px);
				.dark_theme &{
					transform: translateX(100px);
				}
			}
		}
		#frame_template{
			d: path("M 0 -90 h -100 a 90 90 0 0 0 0 180 H 0 h 100 a 90 90 0 0 0 0 -180 Z")
		}
	}
}