@import 'top-bar';
@import 'dark-button';
@import 'code-svg';
@import 'variables';

body {

	--color1: #5A2991;
	--color2: #FF4F4F;
	--color3: #5BB374;
	--colorB: #FFF;
	--colorT: #000;
	--thickness-1: 5px;

	--container-width: 100vw;
	//dark-theme-toggle button variables
	--dark-theme-button-color: var(--color1);

	display: flex;
	justify-content: center;

    &.dark_theme{
        --color1: #9D47FF;
		--color2: #FFFF50;
		--color3: #5BB374;
		--colorB: #000;
		--colorT: #FFF;
		//dark-theme-toggle button variables

		--dark-theme-button-color: var(--color2);
	}

}

@media print {
	body {
		--color1: black;
		--color2: black;
		--color3: black;
		--colorB: white;
		--colorT: black;

		&.dark_theme{
			--color1: black;
			--color2: black;
			--color3: black;
			--colorB: white;
			--colorT: black;
			//dark-theme-toggle button variables
	
			--dark-theme-button-color: var(--color2);
		}
	}
	.no-print{
		display: none;
	}
}

@media screen and (min-width: 800px) {
	body{--container-width: 800px;}
}

$t1: var(--thickness-1);
$cw: var(--container-width);



#container {
	width: $cw;
}

body{
    margin: 0px;
    background-color: $cB;
    color: $cT;
    letter-spacing: .3px;
    font-family: sans-serif;
	font-size: 1.5em;
	transition: none $circle_out_ease;
	transition-property: background-color, color;
}
h1, h2, h3, h4, h5, h6{
	color: $c2;
	transition: color $circle_out_ease;
	
    font-family: "Lucida Console", Monaco, monospace;
}

h1, h2{
    text-align: center;
}
h3, h4{
	padding: $t1;
	margin-bottom: 0px;
	border-left: $t1 solid $c1;
	border-radius: 4px;
}
h4{
	padding: 0px $t1;
}
div{
	font-size: 0.9em;
	padding: $t1;
	margin-left: $t1;
	h3 + &{
		border-left: 0.5px solid $c1;
	}
}
p, ul{
	font-size: 1rem;
	margin-left: calc(#{$t1} * 2);
}
#Cover{
    p{
        text-align: center;
	}
	h2{
		color: $c1;
	}
    font-size: 2em;
}